@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    font-family: Gilroy-Medium;
}

h2 {
    font-family: Gilroy-Bold;
}

ul {
    list-style: none;
}

.divider {
    border: 1px solid #828282;
}

.flex {
    display: flex;
}

.wrapper {
    width: 944px;
    margin: 3.3rem auto;
}

.nav-menu {
    font-family: Gilroy-Bold;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 3.1rem;
}

.nav-menu__link {
    text-decoration: none;
    color: #828282;
    transition: 0.3s;
}

.nav-menu__link:hover {
    color: black;
}

.nav-menu__item-active {
    color: black;
}

.header-content {
    justify-content: space-between;
}

.content__name {
    font-size: 4.7rem;
    line-height: 5.9rem;
    margin-top: 4rem;
}

.content__description {
    font-weight: normal;
    margin-top: 9.5rem;
}

.content__language {
    margin: 3.5rem 0;
    font-weight: bold;
    font-size: 1.6rem;
    align-content: center;
}

.content__language-items {
    padding: 0;
    transform: translateX(90%) rotate(-90deg);
}

.content__language > * {
    padding: 0 0.3rem;
}

.language-item {
    text-decoration: none;
    color: #828282;
    transition: 0.3s;

}

.language-item:hover {
    color: black;
}


.language-item-active {
    color: black;
    text-decoration: none;
}

.header__content-image {
    margin-top: 3rem;
    margin-bottom: 10.4rem;
}

.content {
    justify-content: center;
    flex-direction: column;
}

.about-me {
    background: #F6F6F6;
    justify-content: center;
}

.about-me__block h2 {
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 4.2rem;
    margin-top: 12rem;
    text-align: center;
}

.about-me__description {
    margin-top: 1.7rem;
    margin-bottom: 10.7rem;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 53rem;
}

.about-me__description-text {
    margin-bottom: 4.5rem;
}

.about-me__description-text:nth-child(2) {
    width: 46rem;
    margin-left: auto;
    margin-right: auto;
}

.about-me__description-text:nth-child(3) {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

}

.skills {
    justify-content: center;
    text-align: center;
}

.skills__block h2 {
    font-size: 3.4rem;
    margin-top: 9.1rem;
    margin-bottom: 7rem;
}

.skills__items {
    justify-content: space-around;
    margin: 0;
}

.skills__text {
    margin: 8.3rem auto;
}

.skills__items-single {
    margin-right: 9rem;
}
.skills__items-single:last-child {
    margin-right: 0;
}

.skills__item-logo {
    width: 8.5rem;
    height: 8rem;
}

.skills__item-name {
    margin-top: 2.4rem;
    margin-bottom: 4rem;
    color: #828282;
    font-size: 1.4rem;
}

.skills__item-star {
    width: 2.6rem;
    margin-right: 0.3rem;
}

.skills__items-single:nth-child(1) .skills__item-star:nth-last-child(-n+3) {
    filter: invert(90%);
}

.skills__items-single:nth-child(2) .skills__item-star:nth-last-child(-n+2) {
    filter: invert(90%);
}

.skills__items-single:nth-child(3) .skills__item-star:nth-last-child(-n+2) {
    filter: invert(90%);
}

.contacts {
    background: #F6F6F6;
    justify-content: center;
    text-align: center;
}

.contacts__block h2 {
    margin-top: 11.4rem;
    margin-bottom: 2rem;
    font-size: 3.4rem;
}

.contacts__block p {
    margin-bottom: 3rem;
}

.contacts__button {
    font-family: Gilroy-Bold;
    background: #070707;
    color: white;
    border-radius: 30px;
    border: 0;
    padding: 1rem 3rem;
    cursor: pointer ;
    transition: 0.25s;
}
.contacts__button:hover{
    transform: scale(1.1);
}

.contacts__icons {
    margin-top: 9.2rem;
    justify-content: space-around;
    margin-bottom: 4.5rem;
}

.contacts__icons-ico {
    width: 4rem;
    transition: 0.25s;

}
.contacts__icons-ico:hover{
    transform: scale(1.2);
}

.contacts__footer-text {
    font-size: 1.4rem;
    color: #828282;
    margin-bottom: 5.3rem;
}

